input {
    font-weight: 900;
    background-color: transparent;
    border-color: #0c4a5a;
    box-shadow: none;
    color: aliceblue;
    border-radius: 40px;
    border-width: 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.test {
    border-color: #53b986 !important;
    border-radius: 40px;
    border-width: 2px;
    border-style: ridge;
    margin-top: 10px;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px; */
    font-weight: bolder;
    /* border-radius: 40px; */
    padding: 20px;
    /* border-style: inset; */
}

.lo {
    display: flex;
    align-items: center;
}


.tt {
    padding-bottom: 20px;
}


img {
    height: 200px;
    padding-top: 0px;
    width: auto;
    border-radius: 40px;
    border-color: #53b986;
    border-width: 2px;
    border-style: ridge;
    padding-bottom: 0px;
}


@media only screen and (min-width: 600px) {
    img {
        height: 400px;
        padding-top: 0px;
        width: auto;
        border-radius: 40px;
        border-color: #53b986;
        border-width: 2px;
        border-style: ridge;
        padding-bottom: 0px;
    }
}

.text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: small;
    padding-left: 40px;
    padding-right: 40px;
}